<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-arm64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <PublishTrimmed>false</PublishTrimmed>
    <DebugSymbols>false</DebugSymbols>
    <DebugType>none</DebugType>
    <PublishDir>bin\publish\win-arm64\</PublishDir>
  </PropertyGroup>

  <Target Name="RemoveSymbolsFromDistributable" AfterTargets="Publish">
    <ItemGroup>
      <PublishedSymbols Include="$(PublishDir)**\*.pdb" />
    </ItemGroup>
    <Delete Files="@(PublishedSymbols)" />
  </Target>
</Project>
